mat-select {
    max-width: 200px;
    width: 100%;
    padding-top: 16px !important;
}
.mat-select-trigger {
    height: 23px !important;
    display: block ;
    font-size: 16px;

}

.mat-select-placeholder {
    margin-top: -5px !important;
}

.mat-select-underline {
    display: block !important;
    position: absolute;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    height: 1px !important;
}

.mat-select-underline {
    background-color: rgba(0, 0, 0, 0.42) !important;
}

.mat-select-value {
    font-size: 16px !important;
}