
  <div layout="row" layout-wrap layout-align="start center">
    <div flex="60">
      <h1 mat-dialog-title>Chapter edit</h1>
    </div>
    <div flex="40" layout="column" layout-align="center end">
      <div class="button-row"
           style="display: flex; align-items: center; justify-content: space-around; width: 230px;">
        <button mat-raised-button (click)="onSave(f)">
          <mat-icon mat-list-icon>done</mat-icon>
          <span> Save</span>
        </button>
        <button mat-raised-button (click)="closeDialog()" *ngIf="!itemSaved">
          <mat-icon mat-list-icon>close</mat-icon>
          <span> Cancel</span>
        </button>
        <button mat-raised-button [mat-dialog-close]="savedChapterData" *ngIf="itemSaved">
          <mat-icon mat-list-icon>close</mat-icon>
          <span> Close</span>
        </button>
      </div>
    </div>
  </div>
  <mat-card>
    <mat-card-title>
      <div layout="row" layout-wrap>
        <div flex="90" layout="column" layout-align="center start">{{[item?.name]}}</div>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form #f="ngForm">
        <div layout="row" layout-wrap>
          <div flex="100" layout-padding>
            <h3 style="margin: 0;">Info data</h3>
          </div>
          <div style="margin-top:20px;" flex="30" layout-padding>
            <mat-input-container style="max-width: 800px; width: 100%;">
              <input matInput placeholder="Title" [ngModel]="item?.name" name="name" required>
            </mat-input-container>
          </div>
          <div style="margin-top:20px;" flex="10" layout-padding>
          </div>
          <div style="margin-top:20px;" flex="25" layout-padding>
            <mat-input-container>
              <input matInput placeholder="Price" [ngModel]="chapterPrice | number:'2.2-2'" name="subTotal" readonly>
            </mat-input-container>
          </div>
          <div style="margin-top:20px;" flex="25" layout-padding>
            <mat-input-container>
              <input matInput placeholder="Created date" [ngModel]="item?.tstamp | date: 'dd.MM.y'" name="tstamp" readonly>
            </mat-input-container>
          </div>

          <!-- MODULES START -->

          <div flex="100" layout-padding>
            <mat-divider></mat-divider>
            <h3>Modules</h3>
          </div>
          <mat-card *ngFor="let module of chaptersModules" flex="100">
            <mat-card-content>
              <form #group._id="ngForm">
                <div layout="row" layout-wrap>
                  <div style="margin-top:20px;" flex="60" layout-padding>
                    <mat-input-container style="max-width: 800px; width: 100%;">
                      <input matInput placeholder="Name" [ngModel]="module.name"
                             name="name" readonly>
                    </mat-input-container>
                  </div>
                  <div flex="20" layout-padding style="margin-top:20px;">
                    <mat-input-container>
                      <input matInput placeholder="Created date"
                             [ngModel]="module.tstamp | date: 'dd.MM.y'" name="tstamp" readonly>
                    </mat-input-container>
                  </div>
                  <div style="margin-top:20px;" flex="10" layout-padding layout-align="center start" layout="column">
                    <mat-checkbox [ngModel]="module.signed" name="signed" disabled >Included</mat-checkbox>
                  </div>
                  <div flex="5" layout="column" layout-align="center end">
                    <button mat-mini-fab color="primary"
                            (click)="onModuleEdit(module._id, item?._id)">
                      <mat-icon>mode_edit</mat-icon>
                    </button>
                  </div>
                  <div flex="5" layout="column" layout-align="center center">
                    <button mat-mini-fab color="warn"
                            (click)="onModuleRemove(module._id, item?._id)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                  <div flex="15" layout-padding>
                    <mat-input-container>
                      <input matInput placeholder="Price" [ngModel]="module.price | number:'2.2-2'"
                             name="price" readonly>
                    </mat-input-container>
                  </div>
                  <div flex="15" layout-padding>
                    <mat-input-container>
                      <input matInput placeholder="Internal hours" [ngModel]="module.internalHours"
                             name="internalHours" readonly>
                    </mat-input-container>
                  </div>
                  <div flex="15" layout-padding>
                    <mat-input-container>
                      <input matInput placeholder="External hours" [ngModel]="module.externalHours"
                             name="externalHours" readonly>
                    </mat-input-container>
                  </div>
                  <div flex="15" layout-padding>
                    <mat-input-container>
                      <input matInput placeholder="Price per hour" [ngModel]="module.pricePerHour"
                             name="pricePerHour" readonly>
                    </mat-input-container>
                  </div>




                  <div style="margin-top:20px;" flex="100" layout-padding>
                    <h3 style="margin-top: 0;">Description</h3>

                    <div [innerHTML]="module.bodytext"></div>
                  </div>
                </div>

                <div style="margin-top:20px;" flex="100" layout-padding>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <div flex="25" layout-padding style="margin:20px 0;">
            <button mat-raised-button  color="primary" [matMenuTriggerFor]="moduleMenu">Add
              module
            </button>
            <mat-menu #moduleMenu="matMenu">
              <button mat-menu-item (click)="addFromModuleList()">
                <mat-icon>playlist_add</mat-icon>
                <span >Select from list</span>
              </button>
              <button mat-menu-item (click)="addModule()">
                <mat-icon>add</mat-icon>
                <span >Add new</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
