<mat-card>
  <mat-card-content>
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
         <span class="push-left-sm">
        <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="newCategory()">
                    <mat-icon>add</mat-icon>
                    <span>Add new</span>
                  </button>
                </mat-menu>
    <span class="mat-title">{{title}}</span>
         </span>
    </div>

    <ng-template let-item let-last="last" ngFor [ngForOf]="data">
      <div layout="row" layout-wrap layout-padding>
        <div flex="5">
          <mat-icon matListIcon>toc</mat-icon>
        </div>
        <div flex="80">
          <h3 style="margin: 0;">{{item.name}}</h3>
        </div>
        <div flex="10" layout="row" layout-align="end center">
          <a class="cursor" (click)="onEdit(item._id)">
            <mat-icon color="accent">mode_edit</mat-icon>
          </a>
        </div>
        <div flex="5" layout="row" layout-align="center center">
          <a (click)="onDelete(item._id)">
            <mat-icon color="warn">delete</mat-icon>
          </a>
        </div>
      </div>
      <mat-divider [inset]="true" *ngIf="!last" mat-inset></mat-divider>
    </ng-template>
  </mat-card-content>
</mat-card>
