<mat-card>
    <mat-card-content>
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="/newChapter">
                    <mat-icon>add</mat-icon>
                    <span>Add new</span>
                  </button>
                </mat-menu>
    <span class="mat-title">{{title}}</span>
  </span>
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
     </span>
            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here"
                           (searchDebounce)="search($event)" flex (keyup)="applyFilter($event.target.value)">
            </td-search-box>
        </div>
        <mat-divider></mat-divider>
        <mat-table #table [dataSource]="dataSource" matSort matSortActive="tstamp" matSortDirection="desc">
            <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row; let i = index;">
                    <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'No.'">{{i +1 }}</div>
                    <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Name'">{{ column.cell(row)}}</div>
                    <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Price'">{{ column.cell(row) | number:'3.2' }}</div>
                    <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Date'">{{ column.cell(row) | date: 'dd.MM.y' }}</div>
                    <div *ngIf="column.header == 'Actions'">
                        <a (click)="onEdit(row)"><mat-icon color="accent">mode_edit</mat-icon></a>
                        <a (click)="onDelete(row)"><mat-icon color="warn">delete</mat-icon></a>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [length]="pagination"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>
