<div class="dialog-wrapper">

    <div layout="row" layout-wrap layout-align="start center">
        <div flex="60">
            <h1 mat-dialog-title>Edit remarks</h1>
        </div>
        <div flex="40" layout="column" layout-align="center end">
            <div class="button-row"
                 style="display: flex; align-items: center; justify-content: space-around; width: 230px;">
                <button mat-raised-button (click)="onSave()">
                    <mat-icon mat-list-icon>done</mat-icon>
                    <span> Save</span>
                </button>
                <button mat-raised-button [mat-dialog-close]="savedRemarksData">
                    <mat-icon mat-list-icon>close</mat-icon>
                    <span *ngIf="itemSaved"> Close</span>
                    <span *ngIf="!itemSaved"> Cancel</span>
                </button>
            </div>
        </div>
    </div>

    <form #f="ngForm">
        <div layout="row" layout-wrap>
            <div style="margin-top:20px;" flex="100" layout-padding>
                <ng-template [ngIf]="rteData">
                    <app-tiny-editor [elementId]="'rte'" [editMode]="true" [rteData]="rteData"
                                     (onEditorContentChange)="keyupHandler($event)"></app-tiny-editor>
                </ng-template>
            </div>
        </div>
    </form>

</div>