<div layout="row" layout-align="space-around" layout-padding="layout-padding">

    <mat-card flex="50" layout-align="center center">
        <mat-card-content layout="row">
            <div flex="100" layout-align="center">
                <h1>404</h1>
                <h2 layout-align="center">Page not found :(</h2>
                <p>Maybe the page you are looking for has been removed, or the file you looking for is deleted.</p>
                <button mat-raised-button color="primary" routerLink="/">GO TO HOME PAGE</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

