<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="mat-title">{{title}}</span>
  </span>
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
     </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" flex (keyup)="applyFilter($event.target.value)">
    </td-search-box>
</div>
<mat-divider></mat-divider>
<mat-table #table [dataSource]="dataSource" matSort matSortActive="tstamp" matSortDirection="desc">
    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row; let i = index;">
            <mat-checkbox *ngIf="column.header === 'Select'" (change)="toggleEditable($event, row._id)" [checked]="isChecked(row._id)"></mat-checkbox>
            <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'No.'">{{i +1 }}</div>
            <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Name'">{{ column.cell(row) | shorten: 40: '...' }}</div>
            <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Category'">{{row.categoryId[0].name}}</div>
            <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Price'">{{ column.cell(row) | number:'3.2' }}</div>
            <div class="table-link" (click)="onSelect(row)" *ngIf="column.header === 'Date'">{{ column.cell(row) | date: 'dd.MM.y' }}</div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [length]="pagination"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<div flex="100" style="margin-top: 20px;" layout="column" layout-align="center end">
    <button mat-raised-button (click)="addModule()" color="primary">Add</button>
</div>